<p id="notice"><%= notice %></p>

<p>
  <strong>Slot date:</strong>
  <%= @slot.slot_date %>
</p>

<p>
  <strong>Slot start time:</strong>
  <%= @slot.slot_start_time %>
</p>

<p>
  <strong>Slot end time:</strong>
  <%= @slot.slot_end_time %>
</p>

<p>
  <strong>Slot cost:</strong>
  <%= @slot.slot_cost %>
</p>

<p>
  <strong>Slot status:</strong>
  <%= @slot.slot_status %>
</p>

<p>
  <strong>Ground:</strong>
  <%= @slot.ground_id %>
</p>

<%= link_to 'Edit', edit_slot_path(@slot) %> |
<%= link_to 'Back', slots_path %>
