<h1>Listing grounds</h1>

<table>
  <thead>
    <tr>
      <th>Sport</th>
      <th>Open time</th>
      <th>Close time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grounds.each do |ground| %>
      <tr>
        <td><%= ground.sport %></td>
        <td><%= ground.open_time %></td>
        <td><%= ground.close_time %></td>
        <td><%= link_to 'Show', ground %></td>
        <td><%= link_to 'Edit', edit_ground_path(ground) %></td>
        <td><%= link_to 'Destroy', ground, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ground', new_ground_path %>
